/* *** css pour Menu pour Design Jeedom *** */

:root {
  --recorder-hover-color: red; /*-- Couleur de l'illumination du bouton */
  --recorder-bg-color: transparent; /* linear-gradient(#3D4246, #24282B); /* Couleur de fond du widget */
  --recorder-button-bg-color: darkred; /*beige;*/ /*transparent;*/ linear-gradient(#44494F, #2F3237); Couleur de fond du bouton */
  --recorder-active-color:#6c6d77;
  --recorder-active-bg-color:#2A2D31;
  --recorder-icon-color: dark; /*#404040; #D9D9D9; Couleur de l'icone */
}

.recorder-container {
  display:flex;
}

.recorder {
/*  margin: 50px auto; */
  display: inline-flex;
  width: auto;
  background: var(--recorder-bg-color);
  height: 90px;
  border-radius: 4px;
  border-top: 0px solid #53575C;
  border-left: 0px solid #53575C;
/*  box-shadow:
    1px 1px #17191C,
    0 0 10px #323338;*/
/*  padding: 8px 8px 12px 8px; */
}

/* Cadre widget */
.recorder ul {
  width: 100%;
  height: 100%;
  border: 3px solid red; /* #0F1014; */
  border-radius: 5px;
  background: var(--recorder-bg-color);
/*  margin: 0px 0px 0px 0px !important; */
  display: inline-flex;
  padding: 2px 0px 6px 0px;
}

/* Boutons */
.recorder ul li {
  font-size: 48px; /*  */
  float: left;
  width: 80px;
  height: 100%;
  color: var(--recorder-icon-color);
  margin : 3px; /*******************/
  text-align: center;
/*  text-shadow: 1px 5px 2px gray; /* ombré */
  text-shadow: 1px 2px 1px white; /* gravé */
  display: table;
  background: var(--recorder-button-bg-color);
  border-radius: 50%; /* 3px; */
  border-right: 0px solid #0F1014; 
  border-bottom: 0px solid #0F1014;
  border-top: 0px solid #53575C; 
  border-left: 0px solid #53575C;
  box-shadow: 0px 0px #17191C !important;
  cursor: pointer;
}

/* Icone */
.recorder ul li i {
  margin-top: 16px;
  font-size: 40px;
}

.recorder ul li a, .recorder ul li a:hover {
  color: var(--recorder-icon-color) !important;
}

.recorder ul li:active a, .recorder ul li.active a {
  color: var(--recorder-active-color) !important;
}

.recorder ul li:active, .recorder ul li.active {
  color: var(--recorder-active-color);
  background: var(--recorder-active-bg-color);
  box-shadow:
    inset 0 0 5px 2px rgba(15, 16, 20, 0.5);
  border: 0px solid #0F1014; 
}

.recorder ul li:not(.active):hover {
  text-shadow: 0px 0px 10px var(--recorder-hover-color);
}

.recorder ul li:active {
  text-shadow: none !important;
}
