.HtmlEditTable
{
	width:100%; /* largeur en unité relative */*/ 
	padding-right:100%;
	table-layout:auto; /* auto | fixed colonnes de tailles égales */
	border-collapse: collapse;
	background-color:#FFF; /* couleur de fond = blanc */
	border-right:1px solid #999; /* bordure droite de la table */
	border-bottom:1px solid #999; /* bordure droite de la table */
	height: 1em;
/*	overflow:auto; /* scrollbar */
}

/* Ligne de titre */
h2
{
	font-family: Verdana; /* police */
	background-image : url(tab-header.gif);
	height:32px; /**/
	color:orange;
	font-weight: bold; /* fonte grasse du texte */
	text-align:center; /* alignement horizontal */
	font-size: 1.5em; /*auto; /* taille de police relative */
/*	margin-top:20px; /**/
}

/* Ligne d'en tête */
.HtmlEditTable th
{
	font-family: Verdana; /* police */
/*	background-image : url(tab-header.gif); /**/
	background-color:grey; /* couleur de fond = blanc */
	/*min-width:90px; /**/
	height:auto;
	color:#FFFFFF;
	font-weight: bold; /* fonte grasse du texte */
	text-align:center; /* alignement horizontal */
	font-size: auto; /* taille de police relative */
}

/* Ligne de ligne couleur alternée */
.HtmlEditTable tbody tr:nth-child(even) td {
	text-align:left; /* alignement horizontal ****/
	padding:2px;
	border-width:1px;
	border-style:solid; 	
	background: #FFF4C4;
	color:black!important;
	}

.HtmlEditTable tbody tr:nth-child(odd) td {
	text-align:left; /* alignement horizontal ****/
	padding:2px;
	border-width:1px;
	border-style:solid;
 	background: #FFD264;
	color:black!important;
	}

/* cellule invisibilisé et/ou colorées pour les lignes de remarques */
.HtmlEditTable tx {
	/*display:none /**/
	visibility:hidden; /* */
	 background-color:lightgreen;
}

/* cellule de remarques */
	#rem {
    background-color: #dadcda;
     border-color: lightgreen;
   font-weight: bold;
    text-align: center!important;
    border-width: 2px!important;
    border-style: solid!important;}

.HtmlEditTable tbody tr 
{
	height: 1em;
}

/* colonne Value */
.HtmlEditTable tbody tr td:nth-child(3)
{
	text-align:center;  alignement horizontal /****/
	font-weight: bold; /* fonte grasse */
}

/* colonne Section */
.HtmlEditTable tbody tr td:nth-child(1)
{
	/*text-align:center;  alignement horizontal ****/
	font-weight: bold; /* fonte grasse */
}

.HtmlEditTable caption
{
	text-align: left; /* alignement horizontal */
	text-decoration: underline; /* soulignement */
	font-weight: bold; /* fonte grasse */
	font-size: 1em; /* taille de police relative */
}

.HtmlEdit
{
	border: 0px;
	font-size: 1.1em;
	font-family: Arial;
	padding: 0px;
	text-align:center;
	margin:0px;
	line-height:auto;
	background-color:#F0F0F0;
}

.HtmlEditTable .activeCell
{
	background-color: RGB(201,200,181);
}


/* All Boutons de grille */
.bt-right, .bt-left, .bt-up, .bt-down, .bt-add, .bt-del
{
	text-align:center; /* alignement horizontal ****/
	font-size: 20px;
	font-weight: bold; /* fonte grasse */
	height: 22px;
	width:14px;
	padding: 1px 1px;
	border: 1px; /*none; */
	cursor: pointer;
}

/* Bouton Déplacement */
.bt-right, .bt-left, .bt-up, .bt-down
{
	background-color: #c8cac8!important;
	color: black;
}

/* Bouton Add */
.bt-add {
	background-color: #19cc27!important;
	color: black;
	}

/* Bouton Del */
.bt-del {
	background-color: #ff0a12!important;
	color: black;
	margin-top:3px;
	}

/* All Boutons de fonction */
.bt-sav, .bt-charge, .bt-enr, .bt-rest
{
	text-align: center;
	background-color: orange!important;
	color: white;
	font-size: 14px;
	padding: 7px 8px;
	height: 32px;
	border: none;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
}

.bt-enr {
	text-align: center;
	background-color: red!important;
	color: white;
}

.bt-charge {
	text-align: center;
	background-color: green!important;
	color: white;
}

.bt-sav {
	background-color: red!important;
	color: white;
}

.bt-rest {
	text-align: center;
	background-color: lightgreen!important;
	color: white;
}

.select
{
	font-size: 1.0em;
	font-family: Arial;
	text-align:center;
	    width: 250px;
	background-color:#a8e4e4;
}

.search
{
	font-size: 1.1em;
	font-family: Arial;
	text-align:left;
	/*margin-left:400px;/**/
	width: 400px;
	background-color:#fbe3ad;
}

/*********************************************************************/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin-top:5px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: lightgreen;
  color: red;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -150px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/************************************** MODAL *******************************/

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}